/**
 * Objects > Buttons
 * =================================
 *
 * Documentation:
 * https://fozzie.just-eat.com/styleguide/ui-components/buttons
 */


/**
 * Define associated Button variables
 */

$btn-default-bgColor                : $grey--lightest;
$btn-default-weight                 : 500;
$btn-default-height                 : 2.6;
$btn-default-font-size              : base--scaleUp;
$btn-default-font-family            : 'Ubuntu';
$btn-default-bgColor--hover         : $grey--lighter;
$btn-default-borderRadius           : 2px;
$btn-default-hozPadding             : 1em;
$btn-default-vertPadding            : 11px;

$btn-primary-bgColor                : $blue;
$btn-primary-bgColor--hover         : $blue--dark;
$btn-primary-bgColor--focus         : $blue--darkest;
$btn-primary-textColor              : $white;

$btn-secondary-bgColor              : $grey--lightest;
$btn-secondary-bgColor--hover       : $grey--lighter;
$btn-secondary-bgColor--active      : $grey--light;
$btn-secondary-textColor            : $blue;
$btn-secondary-textColor--hover     : $blue;
$btn-secondary-textColor--active    : $blue;

$btn-wide-hozPadding                : 2em;

$btn-disabled-bgColor               : $grey--lighter;

$btn-outline-borderColor            : $blue;
$btn-outline-borderColor--hover     : $blue--dark;
$btn-outline-borderColor--active    : $blue--lighter;
$btn-outline-bgColor--highlight     : $blue--offWhite;
$btn-outline-textColor--highlight   : $blue--dark;

$btn-transparent-color              : $red;
$btn-transparent-color--hover       : $grey--mid;

$btn-roundedIcon-fillColor          : $white;
$btn-roundedOutline-fillColor       : $blue;
$btn-rounded-fillColor              : $blue;

$btnGroup-outline-textColor         : $grey--dark;
$btnGroup-outline-border            : $grey--lighter;
$btnGroup-outline-active-border     : $color-secondary;
$btnGroup-outline-active-text-color : $color-secondary;

$btnToggle-bg                       : $grey--lightest;
$btnToggle-bg--active               : $white;
$btnToggle-padding                  : 5px;

$btn-icon-dimension                 : 36px;
$btn-icon-dimension--small          : 20px;
$btn-rounded-width                  : 38px;


// Menulog theme overrides
@if ($theme == 'ml') {
    // TODO: these need to be checked with Menulog global designs in Zeplin
    $btn-primary-bgColor                  : $green;
    $btn-primary-bgColor--hover           : $green--dark;
    $btn-primary-bgColor--focus           : $green--darkest;

    $btn-secondary-textColor              : $green;

    $btn-outline-borderColor              : $green;
    $btn-outline-borderColor--hover       : $green--darkest;
    $btn-outline-borderColor--active      : $green;
    $btn-outline-bgColor--highlight       : $green--offWhite;
    $btn-outline-textColor                : $green;
    $btn-outline-textColor--highlight     : $green--dark;

    $btnGroup-outline-textColor           : $grey--dark;
    $btnGroup-outline-border--active      : $green;

    $btn-roundedOutline-fillColor         : $green;
    $btn-roundedOutline-fillColor--active : $green--dark;
    $btn-rounded-fillColor                : $green;
}

// Glaze theme overrides
@if ($theme == 'gl') {
    $btn-default-font-size                : mid;

    $btn-primary-bgColor                  : $coral--mid;
    $btn-primary-bgColor--hover           : $coral--dark;
    $btn-primary-bgColor--focus           : $coral--darkest;

    $btn-secondary-bgColor                : $coral--lightest;
    $btn-secondary-bgColor--hover         : $coral--lighter;
    $btn-secondary-bgColor--active        : $coral--light;
    $btn-secondary-textColor              : $coral--mid;
	$btn-secondary-textColor--hover       : $coral--dark;
	$btn-secondary-textColor--active      : $coral--darker;
}


/**
 * Base button styles – Based on csswizardry.com/beautons
 *
 * 1. Allow us to better style box model properties.
 * 2. Line different sized buttons up a little nicer.
 * 3. Make buttons inherit font styles.
 * 4. Force all elements using beautons to appear clickable.
 * 5. Normalise box model styles.
 * 6. If the button’s text is 1em, and the button is (3 * font-size) tall, then
 *    there is 1em of space above and below that text. We therefore apply 1em
 *    of space to the left and right, as padding, to keep consistent spacing.
 * 7. Fixes odd inner spacing in IE7.
 */

.o-btn {
    display: inline-block;                      /* [1] */
    vertical-align: middle;                     /* [2] */
    font-family: $btn-default-font-family;      /* [3] */
    @include font-size($btn-default-font-size); /* [3] */
    cursor: pointer;                            /* [4] */
    margin: 0;                                  /* [5] */
    padding: $btn-default-vertPadding $btn-default-hozPadding; /* [5, 6] */
    overflow: visible;                          /* [7] */
    text-align: center;
    font-weight: $btn-default-weight;
    line-height: 1;

    // You may want to change this
    background-color: $btn-default-bgColor;
    border-radius: $btn-default-borderRadius;
    border: 1px solid transparent;
    user-select: none;

    color: $grey--dark;
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
        background-color: $btn-default-bgColor--hover;

        &:not(.o-btnLink) {
            outline: none; // no need as already has a focus/active state
        }
    }

    &,
    &:hover,
    &:active,
    &:focus,
    &:visited {
        text-decoration: none;
    }

    // Disabled state
    &.disabled,
    &[disabled] {
        cursor: default;

        &,
        &:hover {
            background-color: $btn-disabled-bgColor;
        }
    }

    p + & {
        margin-top: spacing(x2);
    }

    & .note {
        display: none;

        @include media('>=mid') {
            display: block;
        }
    }
    &[type='submit'] {
        margin-top: spacing(x2);
    }
}

/**
 * ==========================================================================
 * Btn Background Colour modifiers
 * ==========================================================================
 */

/**
 * Modifier – .o-btn--primary
 *
 * Sets the btn colour to site primary colour
 */

.o-btn--primary {
    background-color: $btn-primary-bgColor;

    &,
    &:link,
    &:visited {
        color: $btn-primary-textColor;
    }

    &:hover,
    &:active,
    &:focus {
        color: $btn-primary-textColor;
    }

    &:hover {
        background-color: $btn-primary-bgColor--hover;
    }

    &:active,
    &:focus {
        background-color: $btn-primary-bgColor--focus;
    }
}

/**
 * Modifier – .o-btn--secondary
 *
 * Sets the btn colour to positive colour (i.e. Green)
 */

.o-btn--secondary,
.o-btn--tertiary {
    background-color: $btn-secondary-bgColor;
    color: $btn-secondary-textColor;

    &:hover {
        background-color: $btn-secondary-bgColor--hover;
        color: $btn-secondary-textColor--hover;
    }

    &:active,
    &:focus {
        background-color: $btn-secondary-bgColor--active;
		color: $btn-secondary-textColor--active;
        outline: none;
    }
}

.o-btn--tertiary {
    background-color: $white;
}


/**
 * ==========================================================================
 * Btn Layout Modifiers
 * ==========================================================================
 */

/**
 * Modifier – btn-block
 *
 * Makes the btn full width
 */

.o-btn--block {
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;

    // Vertically space out multiple block buttons
    // same as .o-btn--block + .o-btn--block
    & + & {
        margin-top: 10px;
    }
}

.o-btn--wide {
    padding-left: $btn-wide-hozPadding;
    padding-right: $btn-wide-hozPadding;
}

/**
 * Outline Button
 * -------------------------
 * Essentially, a button, with same color bg as container, but with an outline
 */

.o-btn--outline {
    background-color: transparent;
    border: 1px solid $btn-outline-borderColor;
    color: $btn-outline-borderColor;

    &:focus,
    &:hover,
    &:active,
    &.is-active {
        outline: none; // no need as already has a focus state
        background-color: $btn-outline-bgColor--highlight;
        color: $btn-outline-textColor--highlight;
    }

    &:hover,
    &:focus {
        border: 1px solid $btn-outline-borderColor--hover;
    }
    &:active {
        border: 1px solid $btn-outline-borderColor--active;
    }
}

//remove uneeded styles (like colours) from a button when only an icon is on it (like a close button)
.o-btn--icon {
    @extend %u-ir;
    background-color: transparent;
    padding: 0;

    &:hover { background-color: transparent; }
}


// Specificity overrides
input[type='submit'],
input[type='reset'],
input[type='button'] {
    &.o-btn--block {
        width: 100%;
    }
}


/**
 * Disabled button
 */

.o-btn--disabled {
    cursor: default;

    &,
    &:hover,
    &:active,
    &:focus {
        background-color: $btn-disabled-bgColor;
        color: inherit;
    }
}

/**
 * Loading state
 */

.o-btn.is-loading {
  background: url('//dy3erx8o0a6nh.cloudfront.net/images/icon_loader_arrow.gif') 50% 50% / 20px 20px no-repeat border-box $btn-disabled-bgColor;
  color: transparent !important;
  border-radius: 0; /* Fixes rendering bug in Chrome for Android */
}


/**
 * btnLink
 *
 * Make a button visually look like a default link
 * Useful when we semantically want a button but don’t want all the default styling
 *
 * Should only be applied to buttons
 */

.o-btnLink {
    border: 0;
    background-color: transparent;
    padding: 0;
    margin: 0;
    color: $color-link-default;
    font-weight: 500;
    text-decoration: underline;

    &:hover {
        cursor: pointer;
        color: $color-link-hover;
        background-color: transparent;
    }
    &:active,
    &:focus {
        color: $color-link-active;
        background-color: transparent;
    }
}
