@mixin buttons() {
    /**
    * Objects > Buttons
    * =================================
    *
    * This is an optional component within Fozzie.
    * If you'd like to use it in your project you can include it by adding `@include buttons();` into your SCSS dependencies file.
    *
    * Documentation:
    * https://fozzie.just-eat.com/styleguide/ui-components/buttons
    */

    $btn-default-borderRadius              : $radius-rounded-e;
    $btn-default-font-size                 : 'heading-s';
    $btn-default-weight                    : $font-weight-bold;
    $btn-default-padding                   : 10px spacing(x3);
    $btn-default-outline-color             : $color-focus;

    $btn-default-bgColor                   : $color-interactive-brand;
    $btn-default-color                     : $color-content-interactive-light;
    $btn-default-bgColor--hover            : darken($color-interactive-brand, $color-hover-01);
    $btn-default-bgColor--active           : darken($color-interactive-brand, $color-active-01);

    $btn-primary-bgColor                   : $color-interactive-brand;
    $btn-primary-bgColor--hover            : darken($color-interactive-brand, $color-hover-01);
    $btn-primary-bgColor--active           : darken($color-interactive-brand, $color-active-01);
    $btn-primary-textColor                 : $color-content-interactive-light;

    $btn-secondary-bgColor                 : $color-interactive-secondary;
    $btn-secondary-bgColor--hover          : darken($color-interactive-secondary, $color-hover-01);
    $btn-secondary-bgColor--active         : darken($color-interactive-secondary, $color-active-01);
    $btn-secondary-textColor               : $color-content-interactive-secondary;

    $btn-outline-bgColor                   : transparent;
    $btn-outline-bgColor--hover            : darken($color-white, $color-hover-01);
    $btn-outline-bgColor--active           : darken($color-white, $color-active-01);
    $btn-outline-textColor                 : $color-content-interactive-tertiary;
    $btn-outline-border-color              : $color-border-default;

    $btn-ghost-bgColor                     : transparent;
    $btn-ghost-bgColor--hover              : darken($color-white, $color-hover-01);
    $btn-ghost-bgColor--active             : darken($color-white, $color-active-01);
    $btn-ghost-textColor                   : $color-content-interactive-secondary;

    $btn-disabled-bgColor                  : $color-disabled-01;
    $btn-disabled-textColor                : $color-content-disabled;

    $btn-sizeLarge-padding                 : 14px spacing(x3);
    $btn-sizeLarge-loading-color           : $color-content-interactive-light;

    $btn-sizeSmall-font-size               : 'body-l';
    $btn-sizeSmall-padding                 : spacing() spacing(x2);

    $btn-sizeXSmall-font-size              : 'body-s';
    $btn-sizeXSmall-padding                : 6px spacing();

    /**
    * Base button styles – Based on csswizardry.com/beautons
    *
    * 1. Allow us to better style box model properties.
    * 2. Line different sized buttons up a little nicer.
    */

    // By deafult the button is Primary medium sized button
    .o-btn {
        display: inline-block;                      /* [1] */
        vertical-align: middle;                     /* [2] */
        @include font-size($btn-default-font-size);
        cursor: pointer;
        margin: 0;
        padding: $btn-default-padding;
        text-align: center;
        font-weight: $btn-default-weight;

        background-color: $btn-default-bgColor;
        border-radius: $btn-default-borderRadius;
        border: 1px solid transparent;
        user-select: none;
        color: $btn-default-color;
        text-decoration: none;

        &:focus {
            box-shadow: 0 0 0 2px solid $btn-default-outline-color;
        }

        &:hover {
            background-color: $btn-default-bgColor--hover;
        }

        &:active {
            background-color: $btn-default-bgColor--active;
        }


        &:hover,
        &:active {
            &:not(.o-btn--link) {
                outline: 0; // no need as already has a focus/active state
            }
        }

        &,
        &:hover,
        &:active,
        &:focus,
        &:visited {
            text-decoration: none;
        }

        p + & {
            margin-top: spacing(x2);
        }

        & .note {
            display: none;

            @include media('>=mid') {
                display: block;
            }
        }
        &[type='submit'] {
            margin-top: spacing(x2);
        }
    }

    /**
    * ==========================================================================
    * Btn Background Colour modifiers
    * ==========================================================================
    */

    /**
    * Modifier – .o-btn--primary
    *
    * Sets the btn colour to site primary colour
    */

    .o-btn--primary {
        background-color: $btn-primary-bgColor;

        &,
        &:link,
        &:visited {
            color: $btn-primary-textColor;
        }

        &:hover,
        &:active,
        &:focus {
            color: $btn-primary-textColor;
        }

        &:hover {
            background-color: $btn-primary-bgColor--hover;
        }

        &:active {
            background-color: $btn-primary-bgColor--active;
        }

        &.o-btn--sizeSmall,
        &.o-btn--sizeXSmall {
            background-color: $color-interactive-primary;

            &:hover {
                background-color: lighten($color-interactive-primary, $color-hover-02);
            }
            &:active {
                background-color: lighten($color-interactive-primary, $color-active-02);
            }
        }
    }


    /**
    * Modifier – .o-btn--secondary
    *
    * Accompanying secondary style button (knocked back slightly from the primary button)
    */

    .o-btn--secondary {
        background-color: $btn-secondary-bgColor;
        color: $btn-secondary-textColor;

        &:hover,
        &:active,
        &:focus {
            color: $btn-secondary-textColor;
        }

        &:hover {
            background-color: $btn-secondary-bgColor--hover;
        }

        &:active {
            background-color: $btn-secondary-bgColor--active;
        }
    }


    /**
    * Modifier – .o-btn--outline
    *
    * Accompanying outline style button
    */

    .o-btn--outline {
        background-color: $btn-outline-bgColor;
        color: $btn-outline-textColor;
        border-color: $btn-outline-border-color;

        &:hover,
        &:active,
        &:focus {
            color: $btn-outline-textColor;
        }

        &:hover {
            background-color: $btn-outline-bgColor--hover;
        }

        &:active {
            background-color: $btn-outline-bgColor--active;
        }
    }


    /**
    * Modifier – .o-btn--ghost
    *
    * Accompanying ghost style button
    */

    .o-btn--ghost {
        background-color: $btn-ghost-bgColor;
        color: $btn-ghost-textColor;

        &:hover,
        &:active,
        &:focus {
            color: $btn-ghost-textColor;
        }

        &:hover {
            background-color: $btn-ghost-bgColor--hover;
        }

        &:active {
            background-color: $btn-ghost-bgColor--active;
        }
    }


    /**
    * ==========================================================================
    * Btn Size Modifiers
    * ==========================================================================
    */

    .o-btn--sizeLarge {
        padding: $btn-sizeLarge-padding;
    }

    .o-btn--sizeSmall {
        @include font-size($btn-sizeSmall-font-size);
        padding: $btn-sizeSmall-padding;
    }

    .o-btn--sizeXSmall {
        @include font-size($btn-sizeXSmall-font-size);
        padding: $btn-sizeXSmall-padding;
    }


    /**
    * ==========================================================================
    * Btn Layout Modifiers
    * ==========================================================================
    */

    //remove uneeded styles (like colours) from a button when only an icon is on it (like a close button)
    .o-btn--icon {
        @extend %u-ir;
        background-color: transparent;
        padding: 0;

        &:hover { background-color: transparent; }
    }


    // Specificity overrides
    input[type='submit'],
    input[type='reset'],
    input[type='button'] {
        &.o-btn--block {
            width: 100%;
        }
    }

    .o-btn--fullWidth {
        display: block;
        width: 100%;

        // Vertically space out multiple fullWidth buttons
        // same as .o-btn--fullWidth + .o-btn--fullWidth
        & + & {
            margin-top: spacing();
        }
    }


    /**
    * Disabled button
    */

    .o-btn--disabled,
    .o-btn.disabled,
    .o-btn.is-disabled,
    .o-btn[disabled] {
        cursor: not-allowed;
        color: $btn-disabled-textColor;

        &,
        &:hover {
            background-color: $btn-disabled-bgColor;
            color: $btn-disabled-textColor;
        }
    }


    /**
    * Loading state
    */

    .o-btn.is-loading {
    background: url('//dy3erx8o0a6nh.cloudfront.net/images/icon_loader_arrow.gif') 50% 50% / 20px 20px no-repeat border-box $btn-disabled-bgColor;
    color: transparent !important;
    border-radius: 0; /* Fixes rendering bug in Chrome for Android */
    }


    /**
    * btnLink
    *
    * Make a button visually look like a default link
    * Useful when we semantically want a button but don’t want all the default styling
    *
    * Should only be applied to buttons
    */

    .o-btn--link {
        border: 0;
        background-color: transparent;
        padding: 0;
        margin: 0;
        color: $color-content-link;
        font-weight: $font-weight-bold;
        text-decoration: underline;

        &:hover {
            cursor: pointer;
            color: darken($color-content-link, $color-hover-01);
            background-color: transparent;
        }
        &:active,
        &:focus {
            color: darken($color-content-link, $color-active-01);
            background-color: transparent;
        }
    }
 }
