/**
 * Form Toggles
 * --------------------------------
 * Used for listing page filters
 *
 * ================================= */

$formToggle-padding                 : spacing() !default;
$formToggle-border-color            : $grey--lightest;
$formToggle-border-color-checked    : $grey--lighter;
$formToggle-border-width            : 1px;
$formToggle-border-radius           : 8px;
$formToggle-tick-background         : $green;
$formToggle-tick-hover-background   : $grey--lighter;
$formToggle-background              : $white;
$formToggle-large-size              : 48px;
$formToggle-button-color            : $blue;
$formToggle-button-background       : $blue--offWhite;
$formToggle-disabled-text           : $grey--lighter;

.o-formToggle {
    position: relative;
    display: inline-block;
    margin-bottom: spacing();
    border-radius: $formToggle-border-radius;
    padding: ($formToggle-padding / 2) $formToggle-padding;
    border: $formToggle-border-width solid $formToggle-border-color;

    @include media('>=mid') {
        background: $formToggle-background;
    }

}

    .o-formToggle--button {
        padding-left: spacing(x4);
        color: $formToggle-button-color;
        background: $formToggle-button-background;
        border-color: $formToggle-button-background;
    }

    .o-formToggle--buttonIcon {
        top: 50%;
        position: absolute;
        left: $formToggle-padding;
        transform: translateY(-50%);
        fill: $formToggle-button-color;
    }

    .o-formToggle--inline {
        margin: spacing() 0 spacing() (spacing() / 2);
    }

    .o-formToggle--fullWidth {
        width: 100%;
        display: block;

        @include media('>=mid') {
            display: inline-block;
        }
    }

    .o-formToggle--withCount {
        padding-right: 15px;
    }

    .o-formToggle--withBg {
        background: $formToggle-background;
    }

    .o-formToggle--mediumSized {
        padding: $formToggle-padding ($formToggle-padding * 1.5);
    }

    @mixin formToggleLarge() {
        width: calc(50% - 4px);

        &:nth-child(2n) {
            margin-left: spacing();
        }
    }

    .o-formToggle--largeSized {
        height: $formToggle-large-size;
        @include formToggleLarge();
    }

    .o-formToggle--largeAboveMid {

        @include media('>=mid') {
            float: left;
            margin: 0 0 spacing();
            @include formToggleLarge();
        }
    }

    .o-formToggle-text {
        display: block;
        transition: padding 200ms ease-in-out;

        &:after,
        &:before {
            content: '';
        }

        &:before {
            top: 50%;
            opacity: 0;
            width: 12px;
            height: 5px;
            position: absolute;
            margin-top: -4px;
            left: spacing();
            display: inline-block;
            transform: rotate(-45deg) scale(0.5);
            border-left: 1px solid $formToggle-tick-background;
            border-bottom: 1px solid $formToggle-tick-background;
            transition: transform 200ms ease, opacity 250ms ease;
        }

        .o-formToggle-input:not([disabled]):hover ~ &,
        .o-formToggle-input:not(:checked):hover ~ & {

            &:before {
                border-color: $formToggle-tick-hover-background;
            }
        }

        .o-formToggle-input:checked ~ &,
        .o-formToggle-input:not(:disabled):hover ~ & {
            padding-left: 20px;
            font-weight: $font-weight-bold;

            &:before {
                opacity: 1;
                transform: rotate(-45deg) scale(1);
            }
        }

        .o-formToggle:not(.o-formToggle--disabled):hover &,
        .o-formToggle:not(.o-formToggle--disabled):focus &,
        .o-formToggle-input:not([disabled]):hover ~ &,
        .o-formToggle-input:not([disabled]):focus ~ &,
        .o-formToggle-input:not([disabled]):checked ~ & {
            cursor: pointer;

            //the &:after is to create a border that sits over the top of the parents,
            // it creates a visual state on the parent without the need for a JS class toggle
            &:after {
                top: -1px;
                left: -1px;
                display: block;
                position: absolute;
                width: calc(100% + 2px);
                height: calc(100% + 2px);
                border-radius: $formToggle-border-radius;
                border: $formToggle-border-width solid $formToggle-border-color-checked;
            }
        }

        @mixin formToggleLargeInputSize() {
            height: 40px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .o-formToggle--largeSized & {
            @include formToggleLargeInputSize();
        }

        .o-formToggle--largeAboveMid & {
            @include media('>=mid') {
                @include formToggleLargeInputSize();
            }
        }
    }

    .o-formToggle-count {
        top: 50%;
        position: absolute;
        right: spacing();
        transform: translateY(-50%);
    }

    .o-formToggle--disabled {
        background: none;
        color: $formToggle-disabled-text;
    }
