/**
 * Objects > Links
 * =================================
 * Default Link Styling
 *
 * Documentation:
 * TBC
 */

a {
    & {
        color: $color-link-default;
    }

    &:hover, &:focus {
        color: $color-link-hover;
    }

    &:active {
        color: $color-link-active;
    }
    // have left in in case we want to use eventually
    // &:visited {
    //     color: $color-link-visited;
    //     text-decoration: none;
    // }
}

.o-tile-link {
    text-decoration: none;
    width: 100%;
    display: block;
    font-weight: $font-weight-bold;
}
