@mixin links() {
    /**
    * Objects > Links
    * =================================
    * Default Link Styling
    *
    * This is an optional component within Fozzie.
    * If you'd like to use it in your project you can include it by adding `@include links();` into your SCSS dependencies file.
    *
    * Documentation:
    * TBC
    */

    a {
        & {
            color: $color-link-default;
        }

        &:hover, &:focus {
            color: $color-link-hover;
        }

        &:active {
            color: $color-link-active;
        }
        // have left in in case we want to use eventually
        // &:visited {
        //     color: $color-link-visited;
        //     text-decoration: none;
        // }
    }

    .o-link--full {
        width: 100%;
        display: block;
    }

    .o-link--noDecoration {
        text-decoration: none;
    }

    .o-link--bold {
        font-weight: $font-weight-bold;
    }
}
