/**
 * Objects > Links
 * =================================
 */

a {
    & {
        color: $color-link-default;
    }

    &:hover, &:focus {
        color: $color-link-hover;
    }

    &:active {
        color: $color-link-active;
    }
    // have left in in case we want to use eventually
    // &:visited {
    //     color: $color-link-visited;
    //     text-decoration: none;
    // }
}
