@use '@justeat/pie-design-tokens/dist/jet' as dt;
@use '../tools/mixins/type';
@use '../tools/functions/spacing' as spacing;

@mixin lists() {
    /**
    * Objects > Lists
    * =================================
    * Default list styles (for unordered and ordered lists)
    *
    * This is an optional component within Fozzie.
    * If you'd like to use it in your project you can include it by adding `@include lists();` into your SCSS dependencies file.
    *
    * Documentation:
    * TBC
    */

    $list-bullet-color: dt.$color-orange;


    ul,
    ol {
        padding: 0;
        margin: spacing.spacing(d) 0 0 spacing.spacing(d);

        li {
            margin-bottom: spacing.spacing();
        }

        ul,
        ol {
            margin-top: spacing.spacing();
        }
    }

    ul {
        margin-left: 1.5rem;
        list-style: none;

        // Adds a coloured circle before list-items
        > li:before,
        > li ul > li:before {
            color: $list-bullet-color;
            content: '\2022'; /* Unicode for circle character */
            font-size: 1.8em;
            padding-right: spacing.spacing();
            position: relative;
            top: 0.15em;
            margin-left: -1.5rem;
        }
    }

    ol {
        > li {
            padding-left: spacing.spacing();
        }
    }

    .c-list-ordered {
        > li {
            font-weight: dt.$font-weight-bold;
            @include type.font-size(heading-s); // TODO – this should be updated with a more semantic font alias specific to lists
            margin-bottom: spacing.spacing(f);

            > div {
                font-weight: dt.$font-weight-regular;
                @include type.font-size(body-s);
            }
        }
    }
}
