/**
 * Objects > Lists
 * =================================
 */

ul,
ol {
    padding: 0;
    margin: spacing(x2) 0 0 spacing(x2);

    li {
        margin-bottom: spacing();
    }

    ul,
    ol {
        margin-top: 0;
    }
}

ul {
    margin-left: 1.5rem;
    list-style: none;

    // Adds a coloured circle before list-items
    li:before {
        color: $red;
        content: '\2022'; /* Unicode for circle character */
        font-size: 1.8em;
        padding-right: spacing();
        position: relative;
        top: 0.15em;
        margin-left: -1.5rem;
    }
}
