/**
 * Badge Component
 * =================================
 * Example – Menu – Restaurant delivery information.
 *
 * Used for styling small pieces of information.
 *
 * *The `c-badge` component is an optional mixin within Fozzie — if you'd like to use it in your project you can include it by adding `@include badge();` into your SCSS dependencies file.*
 *
 * Documentation:
 * https://fozzie.just-eat.com/styleguide/ui-components/badges
 */

$badge-bgColor      : $grey--offWhite !default;
$badge-lightBgColor : $white !default;
$badge-infoColor    : $green !default;
$badge-warningColor : $orange !default;
$badge-alertColor   : $red !default;
$badge-padding      : 4px spacing(x2) !default;
$badge-radius       : 14px !default;

@mixin badge() {

    .c-badge {
        background-color: $badge-bgColor;
        padding: $badge-padding;

        span {
            margin: 0 4px;
        }
    }

        .c-badge--rounded {
            border-radius: $badge-radius;
        }

        .c-badge--light {
            background-color: $badge-lightBgColor;

            span {
                color: $grey--light;
            }
        }

        .c-badge--info {
            color: $badge-infoColor;
        }

        .c-badge--warning {
            color: $badge-warningColor;
        }

        .c-badge--alert {
            color: $badge-alertColor;
        }

        .c-badge--large {
            @include font-size(base--scaleUp);
        }

}
