/**
 * Badge Component
 * =================================
 * Example – Menu – Restaurant delivery information.
 *
 * Used for styling small pieces of information.
 *
 * *The `c-badge` component is an optional mixin within Fozzie — if you'd like to use it in your project you can include it by adding `@include badge();` into your SCSS dependencies file.*
 *
 * Documentation:
 * https://fozzie.just-eat.com/styleguide/ui-components/badges
 */

$badge-bgColor              : $grey--offWhite !default;
$badge-light-bgColor        : $white !default;
$badge-info-color           : $green !default;
$badge-success-color        : $green !default;
$badge-success-bgColor      : $green--offWhite !default;
$badge-warning-color        : $orange !default;
$badge-alert-color          : $red !default;
$badge-important-color      : $white !default;
$badge-important-bgColor    : $orange !default;
$badge-award-color          : $purple !default;
$badge-award-bgColor        : $purple--light !default;
$badge-padding              : 1px 5px !default;
$badge-rounded-padding      : 4px spacing(x2) !default;
$badge-rounded-radius       : 14px !default;
$badge-angled-rounded-radius: 2px !default;

@mixin badge() {

    .c-badge {
        background-color: $badge-bgColor;
        padding: $badge-padding;
        position: relative;
        white-space: nowrap;

        span {
            margin: 0 4px;
        }
    }

        .c-badge--rounded {
            border-radius: $badge-rounded-radius;
            padding: $badge-rounded-padding;
        }

        .c-badge--light {
            background-color: $badge-light-bgColor;

            span {
                color: $grey--light;
            }
        }

        .c-badge--info {
            color: $badge-info-color;
        }

        .c-badge--success {
            background-color: $badge-success-bgColor;
            color: $badge-success-color;
        }

        .c-badge--warning {
            color: $badge-warning-color;
        }

        .c-badge--alert {
            color: $badge-alert-color;
        }

        .c-badge--important {
            background-color: $badge-important-bgColor;
            color: $badge-important-color;
        }

        .c-badge--award {
            background-color: $badge-award-bgColor;
            color: $badge-award-color;
        }

        .c-badge--large {
            @include font-size(base--scaleUp);
        }

        .c-badge--noPad {
            padding: 0;
        }

        .c-badge--angled {
            display: inline-block;
            margin: 0 spacing();

            &:before,
            &:after {
                background-color: inherit;
                border-radius: 2px;
                content: '';
                height: 100%;
                position: absolute;
                top: 0;
                transform-origin: 100% 0;
                transform: skew(-15deg);
            }

            &:before {
                left: -1px;
                width: 8px;
            }

            &:after {
                right: -8px;
                width: 9px;
            }
        }

        .c-badge--angledEnd {
            margin-right: 0;
            border-top-right-radius: $badge-angled-rounded-radius;
            border-bottom-right-radius: $badge-angled-rounded-radius;

            &:after {
                display: none;
            }
        }

}
