/**
 * Components > Breadcrumb
 * =================================
 * Used for website navigation breadcrumbs
 *
 * Documentation:
 * https://fozzie.just-eat.com/styleguide/ui-components/breadcrumbs
 */

$breadcrumb-font-weight: $font-weight-bold;

.c-breadcrumb {
    width: 100%;
    line-height: 2.5;
    @include media('>=mid') {
        @include font-size(base--scaleUp, false);
    }
}

.c-breadcrumb-item {
    float: left;
    color: $grey--dark;
    svg {
        fill: $black;
    }
}

.c-breadcrumb-item--home {
    padding-left: 0;
}

.c-breadcrumb-item-link {
    text-decoration: none;
    color: $grey--darkest;
    font-weight: $breadcrumb-font-weight;

    &:hover {
        text-decoration: underline;
        color: $grey--dark;
    }
}

.c-breadcrumb-item-icon {
    margin: 0 spacing(base);
}

.c-breadcrumb--transparent {
    background-color: transparent;

    .c-breadcrumb-item {
        color: $white;
        svg {
            fill: $white;
        }
    }

    .c-breadcrumb-item-link {
        color: $white;
    }
}

.c-breadcrumb--compact {
    @include media('<mid') {
        .c-breadcrumb-item {
            display: none;
        }
        // only show previous page's link
        .c-breadcrumb-item:nth-last-child(2) {
            display: list-item;
            background-color: rgba($black, 0.2);
            border-radius: $baseline;
            line-height: 2;
            padding-right: $baseline;

            .c-breadcrumb-item-icon {
                float: left;

                svg {
                    transform: translateY(-2px) rotate(90deg);
                }
            }
        }
    }
}
