/**
 * Card Component
 * =================================
 * Used for content listing cards.
 *
 * *The `c-card` component is an optional mixin within Fozzie — if you'd like to use it in your project you can include it by adding `@include card();` into your SCSS dependencies file.*
 *
 * Documentation:
 * https://fozzie.just-eat.com/styleguide/ui-components/cards
 */

$card-bgColor--active           : $white !default;
$card-bgColor--disabled         : $grey--lightest !default;
$card-tooltip-width             : 10px !default;
$card-arrow-bottom-position     : 0 !default;
$card-padding                   : spacing(x2) !default;
$card-radius                    : 4px !default;
$card-radius--large             : 8px !default;
$card-borderColor               : $grey--lightest !default;

@mixin card() {

    .c-card {
        background-color: $card-bgColor--active;
        margin-bottom: spacing();
        padding: $card-padding;
        position: relative;

        @include media('>=mid') {
            margin-bottom: 0;
        }
    }

        .c-card--noPad {
            padding: 0;
        }

        .c-card--noPadVertical {
            padding-top: 0;
            padding-bottom: 0;
        }

        .c-card--rounded {
            border-radius: $card-radius;
        }

        .c-card--rounded--large {
            border-radius: $card-radius--large;
        }

        .c-card--outline {
            border: solid 1px $card-borderColor;
        }

            .c-card--outline--aboveMid {
                @include media('<mid') {
                    border: none;
                }
            }

        .c-card--disabled {
            background: $card-bgColor--disabled;
        }

}

