/**
 * Components > Card
 * =================================
 * Used for content listing cards.
 *
 * Documentation:
 * https://fozzie.just-eat.com/styleguide/ui-components/cards
 */

$card-bgColor--active                           : $white;
$card-bgColor--disabled                         : $grey--lightest;
$card-tooltip-width                             : 10px;
$card-arrow-bottom-position                     : 0;
$card-padding                                   : spacing(x2);
$card-radius                                    : 4px;
$card-borderColor                               : $grey--lightest;
$card-section-margin                            : spacing(x4);
$card-section-margin--large                     : spacing(x8);
$card-section-highlight-backgroundColor         : $orange;
$card-section-highlight-color                   : $white;
$card-section-collapsible-paddingRight          : 60px;
$card-section-collapsed-height                  : 48px;
$card-section-collapsed-height--aboveMid        : 50px;



.c-card {
    background-color: $card-bgColor--active;
    display: block;
    margin-bottom: spacing();
    padding: $card-padding;
    position: relative;

    @include media('>=mid') {
        margin-bottom: 0;
    }
}

    //
    // Spacing Modifiers
    // ==========================================================================

    .c-card--noPad {
        padding: 0;
    }

    .c-card--noPadVertical {
        padding-top: 0;
        padding-bottom: 0;
    }

    .c-card--noPadBottom {
        padding-bottom: 0;
    }

        .c-card--noPadBottom--aboveMid {
            @include media('>=mid') {
                padding-bottom: 0;
            }
        }

        .c-card--padBottom--belowMid {
            @include media('<mid') {
                padding-bottom: spacing(x4);
            }
        }

    // stretches the card contents outside of their container
    .c-card--negativeSpacing {
        margin-left: -#{spacing(x2)};
        margin-right: -#{spacing(x2)};
        padding-left: spacing(x2);
        padding-right: spacing(x2);
    }

        .c-card--negativeSpacing--belowMid {
            @include media('<mid') {
                margin-left: -#{spacing(x2)};
                margin-right: -#{spacing(x2)};
            }
        }

        .c-card--negativeSpacing--belowMid--small {
            @include media('<mid') {
                margin-left: -#{spacing()};
                margin-right: -#{spacing()};
            }
        }


    //
    // Outline Modifiers
    // ==========================================================================

    .c-card--rounded {
        border-radius: $card-radius;
    }

    .c-card--outline {
        border: solid 1px $card-borderColor;
    }

        .c-card--outline--aboveMid {
            @include media('<mid') {
                border: none;
                border-radius: 0;
            }
        }

        .c-card--outlineTop--belowMid {
            @include media('<mid') {
                border-top: solid 1px $card-borderColor;
            }
        }

    //
    // Other Modifiers
    // ==========================================================================

    .c-card--disabled {
        background: $card-bgColor--disabled;
    }

    .c-card--noBgColor {
        background-color: transparent;
    }

    // sets all link styles to behave as if they were standard text
    .c-card--normaliseLinks {
        text-decoration: none;

        &:hover,
        &:active,
        &:focus {
            color: inherit;
        }
    }

    //
    // Child Elements
    // ==========================================================================

    // creates a section which is separated off by a border on larger screens
    .c-card-section {
        margin-left: -#{spacing(x2)};
        padding-left: spacing(x2);
        width: calc(100% + #{$card-section-margin});

        @include media('>=mid') {
            border-top: solid 1px $card-borderColor;
            margin-left: -#{spacing(x2)};
            padding-left: spacing(x3);
        }
    }

        // used to create a section which has a highlighted background colour applied
        .c-card-section--highlight {
            background-color: $card-section-highlight-backgroundColor;
            border-top: none;
            color: $card-section-highlight-color;
            margin-top: spacing(x2);
            padding: spacing(x0.5) spacing();

            + .c-card-section--highlight {
                margin-top: 1px;

                &:last-of-type {
                    border-bottom-right-radius: $card-radius;
                    border-bottom-left-radius: $card-radius;
                }
            }

            &.is-last {
                border-bottom-right-radius: $card-radius;
                border-bottom-left-radius: $card-radius;
            }
        }

        .c-card-section--collapsible {
            overflow: hidden;
            padding-bottom: spacing(x2);
            padding-right: $card-section-collapsible-paddingRight;
            position: relative;
            user-select: none;

            @include media('>=mid') {
                padding-bottom: 0;
                padding-right: $card-section-collapsible-paddingRight;
            }

            &:hover {
                cursor: pointer;
            }
        }

        .c-card-section--collapsible--noPad {
            margin-left: -#{spacing(x4)};
            padding: 0 $card-section-collapsible-paddingRight 0 spacing(x2);
            width: calc(100% + #{$card-section-margin--large});

            @include media('>=mid') {
                margin-left: -#{spacing(x2)};
                padding: 0 $card-section-collapsible-paddingRight 0 spacing(x3);
                width: calc(100% + #{$card-section-margin});
            }
        }

        .c-card-section--collapsed {
            height: $card-section-collapsed-height;

            @include media('>=mid') {
                height: $card-section-collapsed-height--aboveMid;
            }

            &.c-card-section {
                @include media('>=mid') {
                    margin-bottom: -#{spacing(x2)};
                }
            }

            p {
                @include truncate();

                &:not(:first-of-type) {
                    display: none;
                }
            }
        }

        .c-card-section-indicator {
            height: 6px;
            display: none;
            position: absolute;
            right: spacing(x2);
            top: 22px;
            transform: rotate(180deg);
            transition: transform 0.4s;
            width: 10px;

            @include media('>=mid') {
                height: 8px;
                right: spacing(x3);
                width: 14px;
            }

            .c-card-section--collapsible & {
                display: block;
            }

            .c-card-section--collapsed & {
                transform: rotate(0);
            }

            .c-card-section--collapsible--noPad & {
                right: 21px;

                @include media('>=mid') {
                    right: spacing(x3);
                }
            }
        }
