/**
 * Listing
 * ===================================
 * Example – SERP List – Restaurant Information
 *
 *
 */

$listing-background         : $white;
$listing-promoBackground    : $orange;
$listing-borderColor        : $color-border;
$listing-iconFill           : $grey--mid;
$listing-labelBackground    : $grey--offWhite;
$listing-offlineBorderColor : $grey--lighter;
$listing-offlineBackground  : $grey--lightest;
$listing-borderRadius       : 4px;

.c-listing {
    padding: 0 spacing(x2);
    background: $listing-background;
    border: 1px solid $listing-borderColor;
    border-radius: $listing-borderRadius;

    @include media('<mid') {
        border: 0;
        padding: 0;
        border-radius: 0;
    }
}

.c-listing--offline {
    background: $listing-offlineBackground;
}

    .c-listing-item {
        margin: 0;
        display: block;
        position: relative;
        padding: spacing(x2);
        border-bottom: 1px solid $listing-borderColor;

        @include media('>=mid') {
            padding: spacing(x2) 0;
        }

        .c-listing &:last-child {
            border: 0;
        }

        .c-listing--offline & {
            border-color: $listing-offlineBorderColor;
        }
    }

        //when the listing item has a wrapper link descendent, make sure it doesn’t underline everything (only the main title)
        .c-listing-item-link {
            display: block;
            color: $color-text;
            text-decoration: none;

            &:hover,
            &:active,
            &:focus {
                color: currentColor;
                text-decoration: none;
            }

            &:hover {
                text-decoration: none;

                & .c-listing-item-title {
                    text-decoration: underline;
                }

                & .c-listing-item-btn {
                    background-color: $btn-primary-bgColor--highlight;
                }
            }
        }

        .c-listing-item-img {
            float: left;
            width: 40px;

            @include media('>=tiny') {
                width: 50px;
            }

            @include media('>wide') {
                width: 65px;
            }
        }

        .c-listing-item-imgItem {
            width: 100%;
            height: auto;
        }

        .c-listing-item-info {
            top: -4px;
            position: relative;
            color: $color-text;
            padding-left: 56px;

            @include media('>=tiny') {
                padding-left: 66px;
            }

            @include media('>wide') {
                position: relative;
                padding-left: 80px;
                padding-right: 260px;

                &:after {
                    content: '';
                    top: 4px;
                    width: 1px;
                    right: 259px;
                    height: 100%;
                    display: block;
                    position: absolute;
                    background: $listing-borderColor;

                    .c-listing--offline & {
                        background: $listing-offlineBorderColor;
                    }
                }
            }
        }

        .c-listing-item-title {
            word-break: break-word;
        }

        // .c-listing-item-meta should be used as a container for listing labels, logos or offers (e.g. local legend logo or 20% off label)
        .c-listing-item-meta {
            top: -3px;
            float: right;
            position: relative;

            @include media('>wide') {
                top: auto;
                width: 260px;
                padding-bottom: 50px;
                padding-left: spacing(x2);
                border-left: 1px solid $listing-borderColor;

                .c-listing--offline & {
                    border-color: $listing-offlineBorderColor;
                }
            }
        }

        .c-listing-item-rating {
            padding: 2px 0 3px;

            .c-listing-item-ratingStars,
            .c-listing-item-ratingText {
                vertical-align: middle;
            }
        }

        .c-listing-item-details {
            width: 100%;
            padding-left: 56px;

            @include media('>=tiny') {
                padding-left: 66px;
            }

            @include media('>wide') {
                right: 0;
                width: 260px;
                margin-top: 10px;
                position: absolute;
                bottom: spacing(x2);
                padding-left: spacing(x2);
            }
        }

        .c-listing-item-distance {
            position: absolute;
            right: spacing(x2);
            bottom: spacing(x2);

            @include media('>mid') {
                right: 0;
            }

            @include media('>wide') {
                position: static;
                line-height: 0.8;
                padding-left: 80px;
                margin-bottom: spacing() / 2;
            }
        }

        .c-listing-item-distanceIcon {
            fill: $listing-iconFill;
        }

        .c-listing-item-text {
            margin-top: 0;
        }

        .c-listing-item-label,
        .c-listing-item-promo {
            display: block;
            padding: 2px 5px;
            position: relative;
            margin-bottom: 4px;
            background: $listing-labelBackground;

            @include media('>narrow') {
                display: inline-block;
            }

            & + & {
                margin-left: spacing();
            }
        }

        .c-listing-item-promo {
            color: $white;
            padding-right: 12px;
            background: $listing-promoBackground;

            &:after {
                content: '';
                top: 1px;
                width: 0;
                height: 0;
                right: -1px;
                position: absolute;
                border-style: solid;
                border-width: 10px 7px 10px 0;
                border-color: transparent $white transparent transparent;

                .c-listing--offline & {
                    border-color: transparent $listing-offlineBackground transparent transparent;
                }
            }
        }
