/**
 * Listing
 * ===================================
 * Example – SERP List – Restaurant Information
 *
 *
 */

$listing-background             : $white;
$listing-promoLabelTextColor    : $purple;
$listing-promoLabelBackground   : $purple--light;
$listing-borderColor            : $color-border;
$listing-iconFill               : $grey--mid;
$listing-labelBackground        : $grey--offWhite;
$listing-labelBorder            : 2px;
$listing-offlineBackground      : $grey--lightest;
$listing-borderRadius           : 4px;
$listing-img-borderRadius       : 2px;
$listing-textDividerBackground  : $grey--light;
$listing-promotionColor         : $orange;

.c-listing {
    opacity: 1;
    border-radius: $listing-borderRadius;
    transition: opacity 200ms ease, transform 200ms ease;

    @include media('<mid') {
        border: 0;
        padding: 0;
        border-radius: 0;

        &.is-loading {
            opacity: 0;
            transform: translateY(20px);
        }
    }

    &.has-noItems {
        border: 0;
    }
}

.c-listing--offline {
    padding: spacing(x2);
    background: $listing-offlineBackground;
}

    .c-listing-item {
        margin: 0;
        display: block;
        position: relative;
        padding: spacing(x2);
        background: $listing-background;
        border-bottom: 1px solid $listing-borderColor;

        .c-listing &:last-child {
            border: 0;
        }

        .c-listing--offline & {

            &:first-child {
                border-top-left-radius: $listing-borderRadius;
                border-top-right-radius: $listing-borderRadius;
            }

            &:last-child {
                border-bottom-left-radius: $listing-borderRadius;
                border-bottom-right-radius: $listing-borderRadius;
            }
        }

        &.is-active {
            display: block;
        }

        &.is-inactive {
            display: none;
        }
    }

        //when the listing item has a wrapper link descendent, make sure it doesn’t underline everything (only the main title)
        .c-listing-item-link {
            display: block;
            color: $color-text;
            text-decoration: none;

            @include media('>wide') {
                display: flex;
                flex-direction: row;
            }

            &:hover,
            &:active,
            &:focus {
                color: currentColor;
                text-decoration: none;
            }

            &:hover {
                text-decoration: none;

                & .c-listing-item-title {
                    text-decoration: underline;
                }
            }
        }

        .c-listing-item-img {
            width: 55px;
            top: spacing(x2);
            left: spacing(x2);
            position: absolute;

            @include media('>wide') {
                width: 65px;
                top: auto;
                left: auto;
                position: relative;
            }
        }

        .c-listing-item-imgItem {
            width: 100%;
            height: auto;
            border-radius: $listing-img-borderRadius;
        }

        .c-listing-item-info {
            top: -4px;
            position: relative;
            color: $color-text;
            padding-left: 70px;

            @include media('>wide') {
                flex-grow: 1;
                position: relative;
                padding-left: 15px;

                &:after {
                    content: '';
                    top: 4px;
                    width: 1px;
                    right: -1px;
                    height: 100%;
                    display: block;
                    position: absolute;
                    background: $listing-borderColor;
                }
            }
        }

        .c-listing-item-details {
            width: 100%;

            @include media('>wide') {
                width: 460px;
                margin-top: auto;
                padding-left: spacing(x2);
                border-left: 1px solid $listing-borderColor;
            }
        }

        .c-listing-item-detailsRow {
            display : flex;
            align-items : center;
            margin-bottom: spacing() / 2;
        }

        .c-listing-item-detailsRow-icon {
            width: 20px;
            height: 20px;
            fill: $grey--dark;
        }

        .c-listing-item-detailsRow-text {
            margin-left: spacing();
        }

        .c-listing-item-promotion {

            svg {
                fill: $listing-promotionColor;
            }

            .c-listing-item-promotionText {
                color: $listing-promotionColor;
            }
        }

        .c-listing-item-title {
            word-break: break-word;
            padding-right: spacing();
            font-weight: $font-weight-base;

            @include media('>wide') {
                margin: (spacing() / 2) 0;
                padding-right: spacing(x2);
            }
        }

        .c-listing-item-new {
            color: $green;
            top: -2px;
            position: relative;
            margin-right: spacing() / 2;
        }

        .c-listing-item-rating {
            padding: 2px 0 3px;
        }

        .c-listing-item-ratingText {
            top: -3px;
            position: relative;
            margin-left: spacing() / 2;
            @include font-size(small, true);
        }

        .c-listing-item-text {
            margin-top: 0;
        }

        .c-listing-item-textInline {
            display: inline-block;
        }

        .c-listing-item-textDivider {
            width: 4px;
            height: 4px;
            margin: 3px 2px;
            border-radius: 100%;
            display: inline-block;
            background: $listing-textDividerBackground;
        }

        // .c-listing-item-meta should be used as a container for listing labels and promos
        .c-listing-item-meta {
            bottom: 22px;
            right: spacing(x2);
            position: absolute;

            @include media('>mid') {
                bottom: 18px;
            }
        }

        .c-listing-item-label,
        .c-listing-item-promo {
            padding: 1px 4px;
            position: relative;
            display: inline-block;
            @include font-size(small, false);
            border-radius: $listing-labelBorder;
            background: $listing-labelBackground;

            & + & {
                margin-left: spacing() / 2;
            }

            @include media('>mid') {
                padding: 2px 5px;
                @include font-size(base, false);
            }
        }

        .c-listing-item-promo {
            color: $listing-promoLabelTextColor;
            background: $listing-promoLabelBackground;
        }
