// =================================
// Color palette
// =================================
// If you’re wondering where the base colour variables are, they’re actually imported
// from the fozzie-colour-palette module.
//
// Repo: https://github.com/justeat/fozzie-colour-palette
// NPM Module: https://www.npmjs.com/package/@justeat/fozzie-colour-palette
//
// List of available colour variables:
// https://github.com/justeat/fozzie-colour-palette/blob/master/src/scss/index.scss
