// =================================
// Color palette
// =================================
// Main brand colors – these should never be called directly, but assigned to more descriptive variables

$white                        : #fff;
$black                        : #000;

$red                          : #d50525;
$red--brand                   : #fa0029; // red used for logo – not accessible and shouldn’t be used indiscriminately

$yellow                       : #ffd700;
$yellow--light                : #fff7ec;

$orange                       : #d63a0d;
$orange--light                : #ffe0b4;

$blue                         : #2771cd;
$blue--light                  : #2bace4;
$blue--dark                   : #14509c;
$blue--offwhite               : #f4f8fd;

$green                        : #04822c;
$green--light                 : #e6f6c5;

$purple                       : #ead9f0;
$purple--light                : #ead9f0;


// Greys – listed from lightest to darkest - these are the full range of greys we can use
$grey--offWhite               : #f5f5f5;
$grey--lightest               : #eaeaea;
$grey--lighter                : #ddd;
$grey--light                  : #cacaca;
$grey--mid                    : #777;
$grey--dark                   : #535353;
$grey--darker                 : #4a4a4a;
$grey--darkest                : #333;

// =================================
// Color Scheme
// =================================
// These are the variables that should be used directly in our SCSS (globally)

$color-primary                : $red;
$color-secondary              : $blue;

// Common colors
$color-text                   : $grey--darkest;
$color-bg                     : $grey--offWhite;
$color-bg--component          : $grey--lightest;
$color-border                 : $grey--light;
$color-disabled               : $grey--lighter;

$color-alert-bg               :  $yellow--light;
$color-statusMsg              :  $orange--light;
$color-infoMsg                :  $blue--offwhite;

$color-btas-primary           : $purple;
$color-btas-bg                : $purple--light;

// Links
$color-link-default           : $blue;
$color-link-hover             : $blue--dark;
// $color-link-active            : darken($color-link-default, 20%);
// $color-link-visited           : $color-link-default; // should we use this

// Text Selection – do we want to customise this or leave as default?
$color-selection              : inherit;
$color-selection-bg           : inherit;

// <hr> border color
$hr-color                     : $grey--light;
