/* stylelint-disable indentation */
// =================================
// Variables
// =================================

// Typography
// ==========================================================================
// Base sizes:
// Set this in pixels (but do not add px),
// the font-size mixin will convert to REMS

$font-size-base             : 14;
$font-size-base-px          : $font-size-base * 1px;

// Type map – these are our global font-sizes and line-heights across the site
$type: (
    small: ( // for things like legal copy (unimportant stuff)
        default: (12, 16)
    ),
    base: (  // body copy
        default: (14, 18)
    ),
    base--scaleUp: (
        default: (16, 24)
    ),
    mid: (  // h3, h4, h5, h6 sizes (differentiated by font and weight not size)
        default: (20, 24)
    ),
    large: ( // h2
        default: (24, 28),
        narrow: (20, 24)
    ),
    jumbo: ( // h1
        default: (32, 40),
        narrow: (24, 28)
    ),
    // scaleUp type for specific pages
    // E.g. Home / Thematic Pages / City Pages
    mid--scaleUp: (
        default: (22, 28),
        narrow: (16, 20)
    ),
    large--scaleDown: (
        default: (20, 24),
        narrow: (14, 18)
    ),
    jumbo--scaleUp: (
        default: (44, 48),
        narrow: (32, 36)
    )
) !default;

$font-weight-base           : 300;
$font-weight-bold           : 500;
$font-weight-headings       : 300; // instead of browser default, bold
$line-height-headings       : 1.2;
$line-height-base           : line-height();

// Font stacks
$font-family-base           : 'Hind Vadodara', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-headings       : 'Ubuntu', Arial, sans-serif; // we need to define some fallbacks here!
$font-family-mono           : Menlo, Monaco, 'Courier New', monospace;

// Fonts for preload
// ==========================================================================
// base fonts and headings have a preload system font, when the webfonts are loaded we style with JustEat fonts.

$font-family-preload: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-weight-headings-preload: 400;

// Menulog font overrides
// ==========================================================================
@if ($theme == 'ml') {
    $font-family-headings   : 'Aspira', Arial, sans-serif;
    $font-weight-headings   : 800; // Heading style is Aspira Heavy, which is 800 font-weight
}

// Glaze font overrides
// ==========================================================================
@if ($theme == 'gl') {
    $font-family-base       : 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    $font-family-headings   : 'Nunito', 'Arial Round', Arial, sans-serif;
}


//  Global Breakpoints
// ==========================================================================
$breakpoints: map-to-em((
    tiny       : 375px,
    narrow     : 414px,    // narrow devices
    narrowMid  : 600px,    // narrow-mid tweakpoint
    mid        : 768px,    // mid bp
    wide       : 1025px,   // wide bp
    huge       : 1280px    // huge bp
), 16); // set to 16 as this is default browser size

// Layout setup
// ==========================================================================

// Setup grid defaults
$layout-margin                : 32 !default; // [in pixels] Space outside the grid
$layout-margin--mid           : 16 !default; // [in pixels] Space outside the grid
$layout-margin--narrow        : 16 !default; // [in pixels] Space outside the grid
$layout-max-width             : 1272 !default; // [in pixels]

$grid-column-count            : 12 !default; // Total column count
$grid-gutter-width            : 16 !default; // [in pixels]

$responsive-grid-sizes        : true !default; // Disable this if you don't want grid sizes for each breakpoint
$use-legacy-grid              : true !default;


// Spacing (Vertical / Horizontal)
// ==========================================================================
$spacing: 8px; // only for use in map below – not for in components

// spacing map
// Can access levels by using the spacing function > spacing() or spacing(x5) for example
$spacing: (
    x0.5 : $spacing / 2,
    base : $spacing,
    x1.5 : $spacing * 1.5,
    x2   : $spacing * 2,
    x3   : $spacing * 3,
    x4   : $spacing * 4,
    x5   : $spacing * 5,
    x6   : $spacing * 6,
    x7   : $spacing * 7,
    x8   : $spacing * 8
);

$baseline: spacing(x2); // default spacing between blocks

$border-radius: 4px;

//  z-indexes
// ==========================================================================
// In an attempt to keep our z-indexes fairly clean, we have a number of
// pre-defined vars declared to make maintenance easier

$zIndex: (
    lowest      : -1,
    low         : 1,
    mid         : 100,
    belowHighest: 8999,
    high        : 9000
) !default;

// Path vars
// ==========================================================================
$img-path                  : 'dist/img' !default; // Usage: background: inline('#{$img-path}/img.jpg') 0 0 no-repeat;
$img-path-url              : '/assets/img' !default; // Usage: background: url('#{$img-path}/img.jpg') 0 0 no-repeat;
$icon-path                 : '#{$img-path}/icons' !default;
$font-path                 : 'dist/fonts' !default;


// App-specific variables
// ==========================================================================
// Add common vars below here

$default-transition: all 150ms ease-in-out;


// Environment variables
// ==========================================================================
// These are passed in through the gulp build task
// If they don't exist – because we're running Fozzie through a build that hasn't defined them – this will fail silently

@if global-variable-exists(env) {
    @debug 'Build running in `#{$env}` mode';
}
@if global-variable-exists(isDev) {
    @debug 'isDev is `#{$isDev}`';
}
@if global-variable-exists(isProd) {
    @debug 'isProd is `#{$isProd}`';
}
@if global-variable-exists(server) {
    @if $server == undefined {
        $server: 'local';
    }
    @debug 'Server is set to `#{$server}`';
}

/* stylelint-enable */
