/**
 * Global Layout Definitions & Helpers
 * ===================================
 */

body {
    background-color: $color-bg;
}

/**
 * Default layout container
 */
.l-container {
    width: 100%;
    max-width: #{$layout-max-width}px;
    margin: 0 auto;
    padding-left: #{$layout-margin}px;
    padding-right: #{$layout-margin}px;

    @include media('<=mid') {
        padding-left: #{$layout-margin--mid}px;
        padding-right: #{$layout-margin--mid}px;
    }

    @include media('<=narrow') {
        padding-left: #{$layout-margin--narrow}px;
        padding-right: #{$layout-margin--narrow}px;
    }
}

/**
 * Layout class for containers that contain content (such as T&cs and Privacy pages)
 */
.l-content {
    padding-top: spacing(x2);

    @include media('>mid') {
        padding-top: spacing(x4);
    }
}
    .l-content-header {
        margin: 0 0 spacing(x2);

        @include media('>mid') {
            margin: spacing(x2) 0 spacing(x4);
        }

        > h1 {
            @include font-size(jumbo--scaleUp, true, narrow);

            @include media('>mid') {
                @include font-size(jumbo--scaleUp);
            }
        }
    }
        .l-content-header--centred {
            text-align: center;
        }
        .l-content-header--highlight {
            color: $color-headings--highlight;
        }

    .l-content-main {
        @extend %u-bordered;
    }

