/**
 * Typography
 * =================================
 * - Base
 * - Paragraphs
 * - Headings
 * - Type sizes
 * - Misc
 * - Utilities
 *
 * Body font size, leadings etc have been set in _variables.scss
 *
 * Documentation:
 * TBC
 */

// *******
//
// @font-face rules should go here
//
// ******

/**
 * Typography preloading styles
 */

html {
    font-size: $font-size-base-px;
    text-size-adjust: 100%;
}

body {
    font-family: $font-family-base;
    @include font-size(base);
    color: $color-text;
    font-weight: $font-weight-base;

    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;

    .is-fontsLoading--base & {
        font-family: $font-family-preload !important;
    }
}

/**
 * Paragraphs
 */
p {
    font-family: $font-family-base;
    @include font-size(base);
    margin-top: $baseline;
    margin-bottom: 0;

    .is-fontsLoading--base & {
        font-family: $font-family-preload !important;
    }
}

/**
 * Headings
 */
h1,
h2,
h3,
h4,
h5,
h6,
.alpha,
.beta,
.gamma,
.delta,
.epsilon {
    color: $color-headings;
    margin: 0;
    margin-bottom: 0;
    font-family: $font-family-headings;
    font-weight: $font-weight-headings;

    small {
        font-weight: normal;
    }

    .is-fontsLoading--heading & {
        font-family: $font-family-preload !important;
        font-weight: $font-weight-headings-preload;
    }
}

// Use the helper classes to emulate styles for another element
// For example: h3.h1 or h3.alpha
h1,
.alpha {
    @include font-size(jumbo, true, narrow);
    margin-top: $baseline * 2;
    margin-bottom: $baseline;

    @include media('>mid') {
        @include font-size(jumbo);
    }

    &:first-child {
        margin-top: 0;
    }
}

h2,
.beta {
    @include font-size(large, true, narrow);

    @include media('>mid') {
        @include font-size(large);
    }
}

h3,
.gamma,
h4,
.delta,
h5,
.epsilon {
    @include font-size(mid);
}

h6,
.zeta {
    @include font-size(small);
}

// Only give these headings a margin-top if they are after other elements
* + h2,
* + .beta {
    margin-top: $baseline * 2;
}

* + h3,
* + .gamma,
* + h4,
* + .delta {
    margin-top: $baseline;
}

small {
    font-size: 80%;
}

/**
 * Miscellaneous
 */

// Emphasis
strong,
b {
    font-weight: $font-weight-bold;
}

em,
i {
    font-style: italic;
}

// Abbreviations and acronyms
abbr[title] {
    border-bottom: 1px dotted #ddd;
    cursor: help;
}

/**
 * Blockquotes
 */
blockquote {
    padding-left: 10px;
    margin: $baseline;
    border-left: 4px solid lighten(#000, 80%);

    p {
        margin-bottom: 0;
        @include font-size(base);
        font-weight: 300;
    }

    small {
        display: block;
        color: lighten(#000, 70%);

        &:before {
            content: '\2014 \00A0';
        }
    }
}

// Quotes
q,
blockquote {
    &:before,
    &:after {
        content: '';
    }
}

cite {
    font-style: normal;
}

// Addresses styling not present in S5, Chrome
dfn {
    font-style: italic;
}

// Addresses styling not present in IE6/7/8/9
mark {
    background: $yellow;
    padding: 2px 4px;
    border-radius: 3px;
}

address {
    font-style: normal;
    margin-top: $baseline;
    margin-bottom: 0;
}

// Prevents sub and sup affecting line-height in all browsers
// gist.github.com/413930
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup { top: -0.5em; }
sub { bottom: -0.25em; }
samp { font-family: $font-family-mono; }

//
// @include ko-text-selection($color-selection, $color-selection-bg);

// Horizontal rules
hr {
    margin: ($baseline) 0;
    border: 0;
    border-top: 1px solid $hr-color;
    border-bottom: 1px solid $white;
}

// https://justmarkup.com/log/2015/07/dealing-with-long-words-in-css/
.hyphenate {
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}
