/**
 * Components > Badge
 * =================================
 * Used for styling small pieces of information.
 *
 * Examples: Menu – Restaurant delivery information and Search – listing labels
 *
 * The `c-badge` component is an optional mixin within Fozzie.
 * If you'd like to use it in your project you can include it by adding `@include badge();` into your SCSS dependencies file.
 *
 * Documentation:
 * https://fozzie.just-eat.com/styleguide/ui-components/badges
 */

$badge-bgColor                  : $grey--offWhite;
$badge-light-bgColor            : $white;
$badge-info-color               : $green;
$badge-success-color            : $green;
$badge-success-bgColor          : $green--offWhite;
$badge-successAlt-color         : $white;
$badge-successAlt-bgColor       : $green;
$badge-warning-color            : $orange;
$badge-alert-color              : $red;
$badge-important-color          : $grey--dark;
$badge-important-bgColor        : $orange--offWhite;
$badge-award-color              : $purple;
$badge-award-bgColor            : $purple--light;
$badge-dark-color               : $white;
$badge-dark-bgColor             : $grey--darkest;
$badge-indicator-color          : $blue;
$badge-indicator-bgColor        : $white;
$badge-padding                  : 1px 5px;
$badge-rounded-radius           : 14px;
$badge-rounded-padding          : spacing(x0.5) spacing(x2);
$badge-rounded-small-radius     : 2px;
$badge-rounded-small-padding    : 2px spacing(x0.5);
$badge-angled-radius            : 2px;

@mixin badge() {

    .c-badge {
        background-color: $badge-bgColor;
        padding: $badge-padding;
        position: relative;
        white-space: nowrap;
    }

        .c-badge--rounded {
            border-radius: $badge-rounded-radius;
            padding: $badge-rounded-padding;
        }

            .c-badge--rounded--small {
                border-radius: $badge-rounded-small-radius;
                padding: $badge-rounded-small-padding;
            }

        .c-badge--light {
            background-color: $badge-light-bgColor;
        }

        .c-badge--transparent {
            background: none;
        }

        .c-badge--info {
            color: $badge-info-color;
        }

        .c-badge--success {
            background-color: $badge-success-bgColor;
            color: $badge-success-color;
        }

            // An alternative colour scheme for the success badge
            .c-badge--success--alt {
                background-color: $badge-successAlt-bgColor;
                color: $badge-successAlt-color;
            }

        .c-badge--warning {
            color: $badge-warning-color;
        }

        .c-badge--alert {
            color: $badge-alert-color;
        }

        .c-badge--important {
            background-color: $badge-important-bgColor;
            color: $badge-important-color;
        }

        .c-badge--award {
            background-color: $badge-award-bgColor;
            color: $badge-award-color;
        }

        .c-badge--dark {
            background-color: $badge-dark-bgColor;
            color: $badge-dark-color;
        }

        .c-badge--indicator {
            background-color: $badge-indicator-bgColor;
            color: $badge-indicator-color;
        }

        .c-badge--large {
            @include font-size(base--scaleUp);
        }

        .c-badge--noPad {
            padding: 0;
        }

        .c-badge--angled {
            display: inline-block;
            margin: 0 spacing();

            &:before,
            &:after {
                background-color: inherit;
                border-radius: 2px;
                content: '';
                height: 100%;
                position: absolute;
                top: 0;
                transform-origin: 100% 0;
                transform: skew(-15deg);
            }

            &:before {
                left: -1px;
                width: 8px;
            }

            &:after {
                right: -8px;
                width: 9px;
            }
        }

        .c-badge--angledEnd {
            margin-right: 0;
            border-top-right-radius: $badge-angled-radius;
            border-bottom-right-radius: $badge-angled-radius;

            &:after {
                display: none;
            }
        }

        // Default c-badge-icon will display a bullet between `c-badge` items
        //The content '\2022' will output a bullet: •
        .c-badge-icon {
            &:after {
                content: $bullet;
                display: inline-block;
                color: $grey--light;
            }
        }
}
