/**
 * Components > Content title
 * =================================
 * Used for displaying a title with an associated action next to it
 *
 * Example: Filter titles (Search sidebar)
 *
 * The `c-contentTitle` component is an optional mixin within Fozzie.
 * If you'd like to use it in your project you can include it by adding `@include contentTitle();` into your SCSS dependencies file.
 *
 * Documentation:
 * TBC
 */

@mixin contentTitle() {

    .c-contentTitle {
        width: 100%;
        display: flex;
        align-items: center;
        margin: spacing(x2) 0;
    }

        .c-contentTitle-icon {
            width: 24px;
            margin-right: spacing();
        }

        .c-contentTitle-text {
            margin: 0;
            width: 100%;
            font-weight: $font-weight-base;
            @include font-size(body-l, false);
        }

        .c-contentTitle-action {
            text-decoration: none;
            font-weight: $font-weight-bold;
            font-family: $font-family-base;

            &:hover,
            &:focus {
                text-decoration: underline;
            }
        }

}
