@mixin cookieWarning() {
	.c-cookieWarning {
	    background-color: $black;
	    position: fixed;
	    bottom: 0;
		width: 100%;
		$zIndex: high;
	}

	.c-cookieWarning-inner {
	    width: 940px;
	    margin: 0 auto;
	    padding: spacing() 0;
	    overflow: hidden;
	}

	.c-cookieWarning-inner .message {
	    width: 940px;
	}

	@include media('<960px') {
	    .c-cookieWarning-inner {
	        width: 620px;
	    }
	    .message {
	        width: 620px;
	    }
	}

	@include media('<640px') {
	    .c-cookieWarning-inner {
	        width: 300px;
	    }
	    .message {
	        width: 280px;
	    }
	}

	.c-cookieWarning .message {
	    float: left;
	}

	.c-cookieWarning p {
		color: $white;
		font-size: $font-size-base;
	    text-align: center;
		margin-top: 2px;
	}

	.c-cookieWarning p a {
	    color: $white;
	}

	.c-cookieWarning-btn {
	    display: block;
	    position: absolute;
	    top: 8px;
	    right: 8px;
	    width: 10px;
	    height: 10px;
		background: url('//dy3erx8o0a6nh.cloudfront.net/images/icon-close-banner.png') no-repeat center center;
		background-size: 10px 10px;
		border: none;
	}

	.c-cookieWarning-btn {
		&:hover,
		&:active,
		&:focus {
			background-color: $grey--mid;
		}
	}
}
