@mixin listing() {
    /**
    * Components > Listing
    * ===================================
    * Component that styles lists of content
    *
    * Example: SERP Page – Restaurant Information Lists
    *
    * The `c-listing` component is an optional mixin within Fozzie.
    * If you'd like to use it in your project you can include it by adding `@include listing();` into your SCSS dependencies file.
    *
    * Documentation:
    * https://fozzie.just-eat.com/styleguide/ui-components/listings
    */

    // The mixins below are to help juggle the badge items between stacked and
    // inline and target viewports in-between mid and wide (landscape mobiles and very small desktops).
    //
    // On narrow, mid and wide you will see:
    //
    // item • item
    //
    // between mid and wide you will see:
    //
    // item
    // item
    //
    // The mixins are used to stop code duplication as each chunk of
    // code needs to be within its own media mixin.

    $listing-bg                     : $color-white;
    $listing-borderColor            : $color-border;
    $listing-border-radius          : 4px;
    $listing-img-border-radius      : 2px;
    $listing-promoIcon-color        : $color-orange;

    $listing--subsequent-bg         : $color-grey-20;
    $listing--inactive-bg           : rgba($listing-bg, 0.5);

    .c-listing {
        border-radius: $listing-border-radius;

        @include media('<mid') {
            border: 0;
            padding: 0;
            border-radius: 0;
        }

        &.has-noItems {
            display: none;
        }
    }

    // Subsequent listing is styling used for searchWeb pre-order
    // Inactive listing is styling used for searchWeb offline
    .c-listing--subsequent,
    .c-listing--inactive {
        margin-top: spacing(x3);
    }

    .c-listing--subsequent {
        overflow: hidden;
        padding: 0 spacing(x2) spacing(x2);
        background: $listing--subsequent-bg;
    }

        .c-listing-loader {
            opacity: 1;
            transition: opacity 200ms ease, transform 200ms ease;

            @include media('<mid') {
                &.is-loading {
                    opacity: 0;
                    transform: translateY(20px);
                }
            }
        }

        .c-listing-item {
            margin-bottom: spacing(x2);
            box-shadow: 0 2px 4px 0 rgba($color-black, 0.1);
            padding-bottom: spacing();

            @include media('>mid') {
                min-height: 96px;
                padding: spacing(x0.5);
            }

            &.is-active {
                display: block;
            }
            &.is-inactive {
                display: none;
            }

            .c-listing--inactive & {
                opacity: 0.6;
            }
        }

        .c-listing-item--withHeader {
            overflow: hidden;
            // Specific padding top % is based on an image size of 288x104 and maintaining an aspect ratio of 36 : 13
            padding-top: calc(37.69% + #{spacing(x0.5)});

            @include media('>mid') {
                padding-top: spacing();
            }
        }

            .c-listing-item-header {
                top: 0;
                left: 0;
                width: 100%;
                overflow: hidden;
                position: absolute;
                padding-top: 37.69%;

                @include media('>mid') {
                    width: 87px;
                    height: 87px;
                    padding-top: 0;
                    top: spacing(x0.5);
                    left: spacing(x0.5);
                    border-radius: spacing(x0.5);
                }

                @include media('>=wide') {
                    width: 17.5%;
                }

                &:not(.c-listing-item-header--noImage) {
                    background: $color-grey-20;
                }
            }

            .c-listing-item-header-img {
                top: 50%;
                left: 50%;
                width: 100%;
                height: auto;
                position: absolute;
                transform: translate(-50%, -50%);

                @include media('>mid') {
                    width: auto;
                    height: 100%;
                    max-width: none !important;
                }
            }

            .c-listing-item-header-frame {
                left: 0;
                bottom: 0;
                position: absolute;

                svg {
                    height: 45px;
                    vertical-align: bottom;
                }

                @include media('>mid') {
                    display: none;
                }
            }

            // when the listing item has a wrapper link descendent
            // make sure it doesn’t underline everything (only the main title)
            .c-listing-item-link {
                display: block;
                color: $color-text;
                text-decoration: none;

                &:hover,
                &:active,
                &:focus {
                    color: currentColor;
                    text-decoration: none;
                }

                &:hover {
                    text-decoration: none;

                    & .c-listing-item-title {
                        text-decoration: underline;
                    }
                }

                @include media('>mid') {
                    display: flex;
                    min-height: 80px;
                    flex-flow: row wrap;
                }
            }

            .c-listing-item-img {
                width: 55px;
                height: 55px;
                top: spacing(x2);
                left: spacing(x2);
                position: absolute;
                border: 1px solid $color-border-subtle;
                border-radius: $listing-img-border-radius;

                @include media('>=wide') {
                    width: 65px;
                    height: 65px;
                }

                //If we have a header (a cuisine image)
                .c-listing-item--withHeader & {
                    top: auto;
                    transform: translateY(-4px);

                    @include media('>mid') {
                        top: 20px;
                        left: 60px;
                        transform: none;
                    }
                    @include media('>=wide') {
                        top: spacing(x2);
                        left: calc(17.5% - 33px);
                    }
                }
            }

            .c-listing-item-imgItem {
                width: 100%;
                height: auto;
                border-radius: $listing-img-border-radius;
            }

            .c-listing-item-info {
                position: relative;
                color: $color-text;
                padding-left: 70px;
                min-height: 60px;

                @include media('>mid') {
                    width: 55%;
                    padding-top: spacing();
                }
                @include media('>=wide') {
                    padding-left: 92px;
                }

                //If we have a header (a cuisine image)
                .c-listing-item--withHeader & {
                    top: -4px;
                }
                @include media('>mid') {
                    .c-listing-item--withHeader & {
                        padding-left: 126px;
                    }
                }
                @include media('>=wide') {
                    .c-listing-item--withHeader & {
                        padding-left: calc(17.5% + 46px);
                    }
                }
            }

            .c-listing-item-title {
                word-break: break-word;
                padding-right: spacing();
                @include font-size(body-l, false);

                @include media('>mid') {
                    margin: spacing(x0.5) 0;
                    padding-right: spacing(x2);
                }
            }

            .c-listing-item-new {
                top: -4px;
                color: $color-green;
                position: relative;
                margin-right: spacing(x0.5);
            }

            .c-listing-item-details {
                width: 100%;
                position: relative;

                @include media('>mid') {
                    width: 45%;
                    margin-top: auto;
                    padding: spacing() spacing() 0 spacing(x2);
                }

                @include media('>=wide') {
                    width: 45%;
                }
            }

            .c-listing-item-detailsRow {
                display : flex;
                align-items : center;
                margin-bottom: spacing(x0.5);
            }

            .c-listing-item-detailsRow-icon {
                width: 20px;
                height: 20px;
                fill: $color-grey-50;
            }

            .c-listing-item-detailsRow-text {
                white-space: initial;
                margin-left: spacing();
            }

            .c-listing-item-badge {
                @include media('>mid') {
                    @include inlineDivider();
                }

                @include media('<wide') {
                    @include inlineDivider();
                }

                @include media('<=mid') {
                    @include blockDivider();
                }

                @include media('>=wide') {
                    @include blockDivider();
                }
            }

            .c-listing-item-promo,
            .c-listing-item-alert {
                svg {
                    fill: $listing-promoIcon-color;
                }
            }
            .c-listing-item-promo-text {
                color: $listing-promoIcon-color;
            }

            .c-listing-item-promo-text--earned {
                color: $color-green;
            }

            .c-listing-item-rating {
                padding: 2px 0 3px;
            }

            .c-listing-item-ratingText {
                top: -4px;
                position: relative;
                @include font-size(caption, true);
            }

            .c-listing-item-text {
                margin-top: 0;
            }

            .c-listing-item-meta {
                text-align: left;

                @include media('>mid') {
                    padding-left: 27px;
                }

                @include media('>=wide') {
                    padding-left: 0;
                    text-align: right;
                }
            }

            .c-listing-item-label {
                padding: 1px 4px;
                margin-bottom: spacing();
                @include font-size(caption, false);

                @include media('>mid') {
                    @include font-size(body-s, false);
                }
            }

            .c-listing-item-premier {
                display: block;
                text-align: center;

                @include media('>=mid') {
                    top: 0;
                    right: spacing();
                    position: absolute;
                }

                .c-listing--inactive & {
                    display: none;
                }
            }

            .c-listing-item-premierImage {
                svg {
                    height: 32px;
                }
            }
}

@mixin inlineDivider() {
    span {
        display: block;
        font-size: 0;
    }
}

@mixin blockDivider() {
    span {
        display: inline-block;
        font-size: 1em;
    }
}
