/**
 * Components > Item Selector
 * =================================
 * Used on menu pages to display a modal to the user.
 *
 * Example: Menu – When selecting an item.
 *
 * The `c-modal` component is an optional mixin within Fozzie.
 * If you'd like to use it in your project you can include it by adding `@include modal();` into your SCSS dependencies file.
 *
 * Documentation:
 * TBC
 */

$modal-titleFontSize    : base--scaleUp !default;
$modal-borderRadius     : 4px;

@mixin modal() {

    .c-modal {
        z-index: zIndex(high);
    }

        .c-modal--popUp {
            @include media('<narrowMid') {
                .c-modal-content {
                    border-radius: 0;
                    bottom: -100vh;
                    box-shadow: 0 -8px 16px 0 rgba(0, 0, 0, 0.22), 0 16px 16px 0 rgba(0, 0, 0, 0.24);
                    display: block;
                    left: 0;
                    top: auto;
                    transform: none;
                    width: 100%;
                }

                .c-modal-content--visible {
                    bottom: 0;
                }
            }

            @include media('>=narrowMid') {
                .c-modal-title {
                    @include font-size(large);
                }

                    .c-modal-title--spacing {
                        padding: spacing(x5) spacing(x7) spacing(x2);
                    }

                .c-modal-content {
                    overflow: hidden;
                }
            }
        }

        .c-modal--fullPage--belowMid {
            @include media('<mid') {
                .c-modal-content {
                    border-radius: 0;
                    bottom: -100vh;
                    display: block;
                    left: 0;
                    top: 0;
                    transform: none;
                    width: 100%;
                    overflow-y: scroll;
                }

                .c-modal-closeBtn {
                    z-index: zIndex(high);
                    position: fixed;
                }

                .c-modal-content--visible {
                    bottom: 0;
                }
            }
        }

        .c-modal--hasImageHeader {
            .c-modal-titleContainer {
                position: relative;
            }
        }

    .c-modal-closeBtn {
        padding: spacing();
        position: absolute;
        right: spacing(x2);
        top: spacing(x1.5);
        z-index: zIndex(high);

        @include media('>=mid') {
            position: fixed;
        }

        &:hover {
            cursor: pointer;
        }
    }

        .c-modal-closeBtn--rounded {
            border: solid 1px $white;
            background-color: $white;
            border-radius: 50%;
            opacity: 0.9;

            &:hover {
                background-color: $white;
            }
        }

        .c-modal-closeBtn--fixed {
            position: fixed;
        }

    .c-modal-title {
        @include font-size($modal-titleFontSize);
        padding: 0 spacing(x3);

        @include media('>=mid') {
            @include font-size(large);
        }
    }

        .c-modal-title--spacing {
            padding: spacing(x3) spacing(x7);

            @include media('>=mid') {
                padding: spacing(x5) spacing(x7) spacing(x2);
            }
        }

    .c-modal-content {
        background-color: $white;
        border-radius: $modal-borderRadius;
        box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.12);
        display: none;
        padding: spacing(x3);
        position: fixed;
        right: 50%;
        text-align: center;
        top: 50%;
        transform: translate(50%, -50%);
        width: 75%;

        @include media('<mid') {
            min-width: em(22);

            &.is-fixed {
                position: fixed;
                height: 100%;
            }

            &.is-resetHeight {
                height: auto;
            }
        }

        @include media('>=mid') {
            max-height: 90vh;
            max-width: 600px;
            overflow: hidden;
            padding: spacing(x5);
        }
    }

        .c-modal-content--wide {
            max-width: 1005px;
        }

        .c-modal-content--narrow {
            max-width: 100%;

            @include media('>=narrowMid') {
                max-width: 425px;
            }
        }

        .c-modal-content--flush {
            padding: 0;
        }

        .c-modal-content--visible {
            display: block;
        }

    .c-modal-content-scrollHeight {
        max-height: 100vh;

        @include media('>=mid') {
            max-height: 550px;
        }

        @include media('height<=narrowMid', '>=mid') {
            max-height: 90vh;
        }

        &.is-stuck {
            padding-top: 0;
        }
    }

    .c-modal-content-scrollable {
        overflow-x: hidden;
        overflow-y: auto;
        position: relative;
    }

    .c-modal-actions {
        background-color: $white;
        box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.12);
        bottom: 0;
        padding: spacing(x3);
        position: sticky;
        width: 100%;
    }

    .c-modal-textSeparator {
        font-family: $font-family-headings;
        font-weight: $font-weight-bold;
        @include font-size(base--scaleUp);
        margin: spacing(x3) 0 0;

        @include media('>=narrow') {
            margin: 0;
        }
    }

        .c-modal-textSeparator--spaceAround {
            margin: spacing(x3) 0 spacing(x2);
        }
}
