@mixin overflowCarousel() {
    /**
    * Components > Overflow Carousel
    * --------------------------------
    * Allows a list of content to be scrolled horizontally
    *
    * Example: Used for mobile filter carousel on the Search Page
    *
    * The `c-overflowCarousel` component is an optional mixin within Fozzie.
    * If you'd like to use it in your project you can include it by adding `@include overflowCarousel();` into your SCSS dependencies file.
    *
    * Documentation:
    * TBC
    */

    @mixin overflowCarouselInner() {
        overflow-x: scroll;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
        width: 100%;
    }

    @mixin overflowCarouselContent() {
        display: inline-flex;
        white-space: nowrap;
        padding-left: spacing(x2);
        padding-right: spacing(x2);
    }

    .c-overflowCarousel {
        @include media('<mid') {
            margin: 0 (spacing(x2) * -1);
        }
    }

    .c-overflowCarousel-inner {
        @include media('<mid') {
            @include overflowCarouselInner();

            &.is-active {
                overflow: visible;
            }
        }

        .c-overflowCarousel--fromMid & {
            @include media('<=mid') {
                @include overflowCarouselInner();

                &.is-active {
                    overflow: visible;
                }
            }
        }
    }

    .c-overflowCarousel-content {
        @include media('<mid') {
            @include overflowCarouselContent();
        }

        .c-overflowCarousel--fromMid & {
            @include media('<=mid') {
                @include overflowCarouselContent();
            }
        }
    }

    //solution for block children elements
    .c-overflowCarousel--withBlockElements {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        padding: spacing() spacing(x2);
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: none;

        //add spacing after the last element
        &:after {
            content: '';
            flex: 0 0 spacing(x2);
        }

        @include media('>mid') {
            padding: spacing(x2) spacing(x4) spacing();
        }

        .c-overflowCarousel-item {
            flex: 1 0 auto;
            margin-right: spacing();

            @include media('>=mid') {
                margin-right: spacing(x2);
            }
        }
    }

    .c-overflowCarousel--hideScroll {
        @include media('>=wide') {
            /* stylelint-disable-next-line property-no-unknown */
            scrollbar-width: none;
        }
    }

    .c-overflowCarousel--hideScroll::-webkit-scrollbar {
        width: 0;
        display: none;
    }
}



