/**
 * Toast Component
 * =================================
 * Used to display text in a pop-up style notification.
 *
 * *The `c-toast` component is an optional mixin within Fozzie — if you'd like to use it in your project you can include it by adding `@include toast();` into your SCSS dependencies file.*
 *
 * Documentation:
 * https://fozzie.just-eat.com/styleguide/ui-components/toast
 */

$toast-radius                           : 8px;
$toast-textColor                        : $white;
$toast-bgColor--default                 : $grey--darkest;
$toast-bgColor--alert                   : $red--dark;
$toast-animation-duration               : 0.5s;
$toast-height                           : 95px;
$toast-translateY                       : -#{$toast-height - 5px};
$toast-height--aboveNarrow              : 115px;
$toast-translateY--aboveNarrow          : -#{$toast-height--aboveNarrow - 5px};
$toast-height--aboveMid                 : 115px;
$toast-translateY--aboveMid             : -#{$toast-height--aboveMid - 5px};

@mixin toast() {

        @keyframes toastSlideUp {
            0% {
                transform: translateY(0);
            }
            100% {
                transform: translateY($toast-translateY);
            }
        }

        @keyframes toastSlideUp--aboveNarrow {
            0% {
                transform: translateY(0);
            }
            100% {
                transform: translateY($toast-translateY--aboveNarrow);
            }
        }

        @keyframes toastSlideUp--aboveMid {
            0% {
                transform: translateY(0);
            }
            100% {
                transform: translateY($toast-translateY--aboveMid);
            }
        }

        .c-toast {
            animation: toastSlideUp $toast-animation-duration;
            background-color: $toast-bgColor--default;
            border-top-left-radius: $toast-radius;
            border-top-right-radius: $toast-radius;
            box-shadow: 0 -3px 4px 0 rgba(0, 0, 0, 0.12);
            color: $toast-textColor;
            height: $toast-height;
            opacity: 0.9;
            padding: spacing();
            position: absolute;
            text-align: center;
            transform: translateY($toast-translateY);
            width: calc(100% - 16px);
            z-index: zIndex(low);

            @include media('>=narrow') {
                animation: toastSlideUp--aboveNarrow $toast-animation-duration;
                height: $toast-height--aboveNarrow;
                transform: translateY($toast-translateY--aboveNarrow);
            }

            @include media('>=mid') {
                animation: toastSlideUp--aboveMid $toast-animation-duration;
                height: $toast-height--aboveMid;
                transform: translateY($toast-translateY--aboveMid);
            }

            p {
                margin: 0;
            }
        }

        .c-toast--alert {
            background-color: $toast-bgColor--alert;
        }

}
