/**
 * User Message Component
 * =================================
 * Used to display the user message banner on the page.
 *
 * *The `c-userMessage` component is an optional mixin within Fozzie — if you'd like to use it in your project you can include it by adding `@include userMessage();` into your SCSS dependencies file.*
 */

@mixin userMessage() {
    .c-userMessage {
        color: #fff;
        background-color: $orange;
        max-width: 100%;
        margin-top: spacing(x2);
    }

    .c-userMessageContainer {
        max-width: 350px;
        margin: 0 auto;
        padding: spacing(x2) 0;
        display: grid;
        grid-template-columns: 40px auto;

        @include media('>=narrow') {
            max-width: 540px;
        }

        @include media('>=mid') {
            max-width: 650px;
            margin: 0 auto;
            padding: spacing(x2) 0 spacing(x2) 36px;
        }

        svg {
            fill: white;
            width: 28px;
            height: 28px;
            display: block;
            align-self: center;
        }
    }

    .c-userMessageText {
        @include font-size(base);
        position: relative;
        padding-left: spacing(x2);
        margin-top: 0;

        @include media('>=mid') {
            padding-left: 0;
        }
    }
}
