//
// ==========================================================================
// Border mixin
// Used in bordered utility class to add padding, border and border
// radius to element
// ==========================================================================
//
// Standard use
// @include bordered();
//
// Override default values
// @include bordered(10px, 30px, green);



@mixin bordered($bordered-radius: $border-radius, $bordered-spacing : spacing(x3), $bordered-colour: $color-border ) {
    border: 1px solid $bordered-colour;
    padding: $bordered-spacing;
    border-radius: $bordered-radius;
}
