//
// ==========================================================================
// Border mixin
// Used in bordered utility class to add padding, border and border
// radius to element
// ==========================================================================
//
// @include bordered();

$bordered-radius    : $border-radius !default;
$bordered-spacing   : spacing(x3) !default;
$bordered-colour    : $color-border !default;

@mixin bordered() {
    border: 1px solid $bordered-colour;
    padding: $bordered-spacing;
    border-radius: $bordered-radius;
}
