@use '../../settings/variables' as v;
@use '../functions/strip-units' as functions;
@use '../functions/units' as units;

// ==========================================================================
// Typography mixins
// ==========================================================================

// REM
// @include rem(margin, $font-size-base);
@use 'sass:math';

@mixin rem($property, $sizeValue: v.$font-size-base) {
    $unitlessSizeValue: functions.strip-units($sizeValue);
    $remValue: math.div($unitlessSizeValue, v.$font-size-base);

    #{$property}: ceil($unitlessSizeValue) + px;
    #{$property}: $remValue + rem;
}

// EM
// @include em(margin, $font-size-base);
@mixin em($property, $sizeValue: v.$font-size-base) {
    #{$property}: math.div(functions.strip-units($sizeValue), v.$font-size-base) + em;
}

@mixin font-size($key: 'body-s', $line-height: true, $scale: 'default', $relativeToParent: false) {
    // if the $key passed in is actually just a font-size
    // then output it (may want to instead force a sass error saying to use the type map?)
    @if type-of($key) == 'number' {
        @if $relativeToParent == true {
            @include em(font-size, $key);
        } @else {
            @include rem(font-size, $key);
        }
    } @else if map-has-key(v.$type, $key) { // else try and find the value in our type map
        $key-map: map-get(v.$type, $key);
        $font-list: map-get($key-map, $scale);

        // If $size-map is a list, include
        // both font-size and line-height
        @if type-of($font-list) == 'list' {
            $font-size: nth($font-list, 1);

            @if $relativeToParent == true {
                @include em(font-size, $font-size);
            } @else {
                @include rem(font-size, $font-size);
            }

            @if length($font-list) > 1 and $line-height == true {
                $line-height: nth($font-list, 2);

                line-height: units.line-height($font-size, $line-height);
            }
        } @else {
            @if $relativeToParent == true {
                @include em(font-size, $font-list);
            } @else {
                @include rem(font-size, $font-list);
            }
        }
    } @else {
        @warn 'Unknown `#{$key}` in $type.';
    }
}
