/**
 * Utilities
 * ===================================
 * Non-semantic helper classes
 */

//
// Clearfix
// http://www.cssmojo.com/latest_new_clearfix_so_far/
// See mixins/_utility.scss for a mixin version of this
// ==========================================================================
.u-clearfix {
    &:after {
        content: ' ';
        display: table;
        clear: both;
    }
}

//
// Colour Utilities
// ==========================================================================

.u-lightenBg {
    background-color: $white;
}

.u-bordered,
%u-bordered {
    @include bordered();
}

.u-bordered--mid {
    @include media('>mid') {
        @include bordered();
    }
}


//
// Display Utilities
// ==========================================================================

// Hide from both screenreaders and browsers: h5bp.com/u
.is-hidden,
.no-js .is-hidden--noJS {
    display: none !important;
    visibility: hidden !important;
}

.is-shown,
.no-js .is-shown--noJS {
    display: block !important;
    visibility: visible !important;
}

// Hide only visually, but have it available for screenreaders: h5bp.com/v
.is-visuallyHidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;

    // Extends the .is-visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p
    &.focusable:active,
    &.focusable:focus {
        clip: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        position: static;
        width: auto;
    }
}

// Hide visually and from screenreaders, but maintain layout
.is-invisible { visibility: hidden; }

.u-pointer {
    cursor: pointer;
}

//
// Position Utilities
// ==========================================================================

.is-sticky {
    width: 100%;
    z-index: 100;
    position: fixed;
    transition: top 0.2s ease;
}

//
// Typographic Helpers
// ==========================================================================

// ensures text inside helper never wraps
.u-noWrap {
    white-space: nowrap;
}

.u-uppercase {
    text-transform: uppercase;
}

.u-textPad {
    padding-left: spacing(x4);
}

.u-noUnderline {
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
        text-decoration: underline;
    }
}

//
// Typographic Colour Helpers
// ==========================================================================

.u-color-text {
    color: $color-text;
}

.u-color-text--hint {
    color: $color-text--hint;
}

.u-color-text--success {
    color: $color-text--success;
}

.u-color-text--danger {
    color: $color-text--danger;
}

.u-color-text--warning {
    color: $color-text--warning;
}

.u-color-headings {
    color: $color-headings;
}

.u-color-headings--highlight {
    color: $color-headings--highlight;
}

//
// Spacing Utilities
// ==========================================================================

.u-noSpacing {
    margin: 0;
}

.u-spacingTop {
    margin-top: spacing();
}
    .u-spacingTop--large {
        margin-top: spacing(x2);
    }

.u-spacingRight {
    margin-right: spacing();
}

.u-spacingBottom {
    margin-bottom: spacing();
}
    .u-spacingBottom--large {
        margin-bottom: spacing(x2);
    }

.u-spacingLeft {
    margin-left: spacing();
}

//
// Image Replacement Techniques
// ==========================================================================

[data-lazy-image-src] {
    display: block;

    .no-js & {
        display: none;
    }
}


// For background image replacement
%u-ir,
.u-ir {
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0;
    direction: ltr;
    display: block;
    overflow: hidden;
    text-align: left;
    text-indent: -999em;

    br {
        display: none;
    }
}

// Alternative image replacement technique
.u-hideText,
%u-hideText {
    text-indent: 110%;
    white-space: nowrap;
    overflow: hidden;
}

//
// List Helper
// ==========================================================================

.u-unstyled,
%u-unstyled {
    margin-top: 0;
    margin-left: 0;
    padding: 0;
    list-style: none;
    list-style-image: none;

    & > li {
        margin-bottom: 0;

        &:before {
            content: none;
        }
    }
}

//
// Helper classes for focus accessibility
// =================================================================================

/* Custom outline styling for elements that have a focus state */
%u-elementFocus,
.u-elementFocus {
    outline: 2px solid $color-focus-outline;
}

/* Custom visual outline emulation for better appearance on elements with rounded corners */
%u-elementFocus--boxShadow,
.u-elementFocus--boxShadow {
  outline: none;
  box-shadow: 0 0 0 2px $color-focus-outline;
}
