@use '../../settings/variables' as v;
@use '../functions/units';

@function populate-breakpoints() {
    $breakpointString: '';
    $breakpointsPx: units.map-to-px(v.$fozzie-breakpoints, 16);

    @each $name, $value in $breakpointsPx {
        $breakpointString: $breakpointString + '#{$name}:#{$value},';
    }

    @return str-slice($breakpointString, 0, str-length($breakpointString) - 1);
}

@mixin breakpoints() {
  .c-screen-sizer {
    display: none;
    content: populate-breakpoints();
  }
}
