/**
 * Just Eat Styleguide
 * =================================
 */

// =================================
// Site dependencies
// =================================

// =================================
// Fozzie Theme declaration
// =================================
@import 'settings/theme';


// =================================
// Mixins, helpers and functions
// =================================
// Most CSS3 vendor prefixed items have a mixin,
// but we should not need them if autoprefixer is being used
// See mixins/css3.scss for the full list

// Including helper modules
@import 'f-utils'; // imports Fozzie SCSS helper functions and mixins – https://github.com/justeat/f-utils
@import 'include-media'; // Cleaner media query declarations – http://include-media.com


// =================================
// Core variables
// =================================
// The colour variables are imported from https://www.npmjs.com/package/@justeat/fozzie-colour-palette
// If a custom theme is specified, it applies a set of colour overides to the base theme depending on the $theme
@import 'fozzie-colour-palette';
@if ($theme == 'ml') {
    @include applyScheme-menulog;
}

@import 'settings/variables';
@import 'settings/glyphs';
@import 'f-utils/helpers/breakpoints'; // breakpoint helper – https://github.com/justeat/f-utils/blob/96508ae19809c4b8b83cebb55b9d74728d01c1a5/src/scss/helpers/_breakpoints.scss


// CSS Normalise and then Reset
@import 'normalize/import-now'; // https://www.npmjs.com/package/normalize-scss
@import 'base/reset';

// Global typography styles
@import 'base/typography';

@import 'kickoff-grid'; // Grid system based on flexbox w float fallbacks – https://github.com/TryKickoff/kickoff-grid.css

/**
 * Objects
 * =================================
 * Styles apply to an object if they are directly associated to a HTML element.
 * If not, the styles should be defined as a component.
 *
 * For example, it would be expected to have:
 * 	links.scss > styles relating to links (<a> tag)
 * 	tables.scss > styles relating to tables
 *
 * Object styles should be prefixed with `.o-`
 */
@import 'objects/body';
@import 'objects/buttons';
@import 'objects/images';
@import 'objects/links';
@import 'objects/lists';
@import 'objects/tables';
@import 'objects/form-controls';
@import 'objects/form-toggle';

/**
 * Components:
 * =================================
 * Components are our resuable chunks of styling that aren’t directly associated to a base tag
 *
 * This is where the majority of our day-to-day styling will take place.  Component styles should be prefixed with `.c-`
 */
@import 'components/alerts';
@import 'components/breadcrumbs';
@import 'components/cards';
@import 'components/media-element';

// Optional components – need to be included with the associated mixin in your project dependencies
@import 'components/optional/badges';
@import 'components/optional/content-header';
@import 'components/optional/content-title';
@import 'components/optional/fullscreen-pop-over';
@import 'components/optional/listings';
@import 'components/optional/menu';
@import 'components/optional/overflow-carousel';
@import 'components/optional/page-banner';
@import 'components/optional/ratings';
@import 'components/optional/toast';
@import 'components/optional/cuisines-widget';
@import 'components/optional/apps-banner';
@import 'components/optional/order-card';
@import 'components/optional/cookie-warning';

// Global layout definitions & helpers
@import 'base/layout';


/**
 * Experiments
 * =================================
 *
 * These styles relate to experiments running on the platform.
 *
 * The filename should _always include the JIRA number so that its status can be checked
 */
// @import 'experiments/INTPB-1451-quick-checkout';


/**
 * Utility classes
 * =====================================
 * These should always come last as they should 'trump' other properties
 */
@import 'trumps/utilities';
@import 'trumps/rwd';



/**
 * Print styles
 */
@import 'base/print';
