// ==========================================================================
// _zIndex.scss
//
// Contains all functions relating to zIndex
// ==========================================================================

//
// zIndex()
//
// Allows developers to specify the amount of zIndex they require via shortcut
// Accesses the spacing map definition in _variables.scss
//
// Usage:
// zIndex(low)
//
// Key can be passed in as = low, medium, high
// ==========================================================================
@function zIndex($key: 'low') {

    @if type-of($zIndex) == 'map' {
        @if map-has-key($zIndex, $key) {
            @return map-get($zIndex, $key);
        }
    }

    @warn 'Unknown `#{$key}` in $zIndex.';
    @return null;
}
